.nav {
    background-color: greenyellow;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:  30%; 
}
.main p {
    font-size:15px;
    padding: 3px 5px;
    margin-bottom: 10px;
    font-style:normal;
}
.main h1 {
    text-align: center;
    font-size: 40px;
    color: red;

}
.main p {
font-size:15px;
}
.sub image {
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.crystal {
    margin-top:40px;
    padding:14px 50px;
    font-size: 20px;
}
.crystal h2 {
    text-align: center;
    font-size:20px;
}

.crystal p{font-size: 15px;
}
.crystal img{
    text-align: center;

}
.causes h4 {
font-size: 20px;
font-style: normal;
text-align: center;
}
.causes p{
    font-size: 25px;
    padding:-5px -5px;
    margin: auto;


}
body{
    background-color: rgb(153, 182, 234);
}
h3{
    font-size: 15px;

}
p{
    font-size:15px;
    padding:10px 15px
    
}
h5{
    font-size:20px ;
    text-align: center;
}




